body {
      font-family: 'Poppins', sans-serif;
    }
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.border-dashed {
  border-style: dashed;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 9999px;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 9999px;
}
.delete-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #595959;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
}
.slider-box {
  @apply w-full flex items-center space-x-3;
}
.slider-label {
  @apply text-sm w-20;
}
.aspect-preview {
  background-color: transparent;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.image-preview {
  display: grid;
  gap: 2px;
  width: 40px;
  height: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.image-preview div {
  background-color: white;
  opacity: 0.2;
}
.image-preview .active {
  opacity: 1;
}
